altgraph==0.17.4
certifi==2024.8.30
charset-normalizer==3.4.0
GPUtil==1.4.0
idna==3.10
packaging==24.2
pefile==2023.2.7
psutil==6.0.0
py-cpuinfo==9.0.0
pyadl==0.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pywin32==308
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==75.2.0
urllib3==2.2.3
WMI==1.5.1
